<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Senior Secondary School</h1>
</div>
</div>

<div class="container main">
<div class="junior-body" >
<h3>Senior Secondary School</h3>
<img src="../../../assets/images/ssImg.jpg" alt="senior-school">
<p class="setP">
  The senior secondary school at Modebe is a 3 stage programme beginning with Year 10.
  It encourages students to use the study skills they have acquired in the junior school
  to take charge of their own learning in order to prepare them for the life beyond secondary
  school. The senior school comprises of: ICT lab, Humanities, Mathematics, Languages,
  Vocational and Science blocks. Senior students follow core subjects leading to their
  potential qualification. These core subjects are supported by a range of optional and
  trade subjects. Students are guided and supported in their choices of optional subjects.
  All students will offer 9 subjects from their first year of senior school, which include the
  following compulsory subjects:
  </p>
  <ul>
    <li>English Language</li>
    <li>Mathematics</li>
    <li>Civic Education</li>
    <li>I.C.T</li>
    <li>One science subject</li>
  </ul>
  <p class="setP-2">
  Students will choose three subjects from Accounts, Biology, Chemistry, Commerce, CRS, Fine Art,
  Further Mathematics, Geography, Government, Literature-In-English, Physics and Technical Drawing
  depending on their desired career pathway. Each student is expected to choose one trade subject
  from Marketing, Catering Craft Practice, Data Processing, and Auto Mechanics. Students are guided
  and supported in their choice of subjects by teachers, careers and guidance counsellors and other
  professionals. Senior students have the opportunity to offer French to provide a broad and balanced
  curriculum for the ICE award. Senior students are prepared for IGCSE which is written at the end of
  Year 11 and WASSCE in May/June in Year 12.
</p>
</div>
</div>

