<div class="container-fluid">
   <img src="../../assets/images/404Page.jpg" alt="404 page" srcset="">
    <div class="description">
      <h3>Oops!</h3>
      <p>We can't seem to find the page you're looking for.</p>
      <p>Error code :404</p>
      <ul style="list-style: none;">
        <li>Here are some helpful links instead:</li>
        <li><a [routerLink]="['/home']" style="text-decoration: none; color: inherit;">Home</a></li>
        <li><a [routerLink]="['/about']" style="text-decoration: none; color: inherit;">About</a></li>
      </ul>
    </div>
</div>
