<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Junior Secondary School</h1>
</div>
</div>

<div class="container main">
<div class="junior-body" >
<h3>Junior Secondary School</h3>
<img src="../../../assets/images/jssImg.jpg" alt="junior-school">
<p>
  Junior school is the entry point for both academic and extra-curricular success of
  any new student privilege to secure a placement in the Modebe Memorial Secondary School
  enrolment register. It’s a school domiciled in a state of the art millennial quadrangle
  building. Each classroom is tastefully furnished and set up to stimulate creativity,
  personalized learning and provide an ambient atmosphere for socialization. New students
  in year 7 spend the first 3 years of secondary school life here, getting assessed periodically
  in the thier domain of learnings with series of internationally acknowledged standardized
  tests before moving on to the senior school Leadership traits are imbued and inducted in
  the students through different age related leadership roles like School councils, Class
  leadership, Junior school prefect-ship etc. Tutorship, guardianship and sundry assistance
  are provided by well-trained and experienced tutors to help in modelling the students’
  growing-up and shape their minds without having their individuality compromised.
</p>
</div>
</div>
