  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Contact Us</h1>
  </div>
  </div>
  <div class="container main">
    <hr>
    <h6>Wish to enquire about admissions, syllabus, or anything else?</h6>
    <div class="row mainRow">
      <div class="col-md-4">
        <div class="row address">
  <div class="col-md-7 col-sm-10">
    <h2 ><span><fa-icon [icon]="map"></fa-icon></span> Address
    </h2>
    <p>P.M.B 1749,Odoakpu Vilage,Onitsha-South,Anambra State,Nigeria</p>
  </div>
  <hr>
  <div class="col-md-7">
    <h2 ><span> <fa-icon [icon]="phone"></fa-icon></span> Phone
    </h2>
    <p>+234-800 000 0000 <br>
      +234-800 000 0000 <br>
      +234-800 000 0000 <br>
    </p>
  </div>
  <hr>
  <div class="col-md-7">
    <h2 ><span> <fa-icon [icon]="email"></fa-icon></span> <a class="link-secondary ml-1" href="mailto:modebememorialsecondaryschool@gmail.com">Send Email</a>
    </h2>
  </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/contactUs.jpg"  class="rounded  d-block" alt="contactUs-image">
      </div>
    </div>
  </div>
