  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Contact Us</h1>
  </div>
  </div>
  <div class="container main">
    <hr>
    <h6>Wish to enquire about admissions, syllabus, or anything else?</h6>
    <div class="row mainRow">
      <div class="col-md-5">
        <div class="row address">
  <div class="col-md-2">
    <fa-icon [icon]="map"></fa-icon>
  </div>
  <div class="col-md-7">
    <h2 > Address
    </h2>
    <p>P.M.B 1749,Odoakpu Vilage,Onitsha-South,Anambra State,Nigeria</p>
  </div>
  <hr>
  <div class="col-md-2">
    <fa-icon [icon]="phone"></fa-icon>
  </div>
  <div class="col-md-7">
    <h2 > Phone
    </h2>
    <p>+234-800 000 0000 <br>
      +234-800 000 0000 <br>
      +234-800 000 0000 <br>
    </p>
  </div>
  <hr>
  <div class="col-md-2">
    <fa-icon [icon]="email"></fa-icon>
  </div>
  <div class="col-md-7">
    <h2 > Email Address
    </h2>
    <p>modebememorialsecondary school@gmail.com
    </p>
  </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../../assets/images/contactUs.jpg"  class="rounded  d-block" alt="contactUs-image">
      </div>
    </div>
  </div>
