<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">MMSS Alumni</h1>
</div>
</div>
<div class="container">
  <div class="text-center mt-3">
    <h3>Your Matches - {{pagination.totalItems}} found</h3>
  </div>
  <form (ngSubmit)="loadMember()" #form="ngForm" class="form-inline" novalidate>
    <div class="form-group">
      <label for="graduationYear"> Select Graduation Year:</label>
      <select name="graduationYear" id="graduationYear"   class="form-control" [(ngModel)]="memberParams.graduationYear" >
        <!-- <option  [value]="null">Select</option> select default value -->
        <option *ngFor="let item of yearOfGraduations" [value]="item||null">{{item}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="gender">Show:</label>
      <select name="gender" id="gender" class="form-control" [(ngModel)]="memberParams.gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Apply Filters</button>
    <button type="button" class="btn btn-primary" (click)="resetFilter()">Reset Filter</button>
    <div class="pull-right">
      <div class="btn-group">
        <button type="button" name="orderBy" class="btn btn-primary" [(ngModel)]="memberParams.orderBy"  btnRadio="lastactive"  (click)="loadMember()">LastActive</button>
        <button type="button" name="orderBy" class="btn btn-info" [(ngModel)]="memberParams.orderBy"  btnRadio="created"  (click)="loadMember()">Newest Members</button>

      </div>
     </div>
     <div class="dropdown"*ngIf="auth.isMemberAuth()" >
      <button type="button" class="dropbtn" id="mybtn"><img src="{{photoUrl}}" alt="{{member.knownAs}}">
         Welcome {{auth.decodeToken?.userName}}  <i class="fa fa-caret-down"></i></button>
      <div id="myDropdown" class="dropdown-content">
        <a [routerLink]="['/member/edit']"> Edit Profile</a>
        <a (click)="auth.logout()">Log out</a>
        <a [routerLink]="['/like-list']">Like List</a>
        <a [routerLink]="['/messages']">Messages</a>
      </div>
    </div>
  </form>
<!-- get member card -->
<div class="row">
<div *ngFor="let member of members" class="col-md-3 m-3">
  <app-member-card [member]="member"></app-member-card>
</div>

</div>
  <!-- pagination -->

 <div class="d-flex justify-content-center mt-4">
  <pagination [boundaryLinks]="true"
  [totalItems]="pagination.totalItems"
  [itemsPerPage]="pagination.itemsPerPage"
  (pageChanged)="pageChanged($event)"
  [(ngModel)]="pagination.currentPage"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

</pagination>
</div>
</div>


