  .jumbotron{
    background-image: linear-gradient(180deg, rgba(255,0,0,-0.2), rgba(255,0,0,0) 70.71%),
    linear-gradient(189deg, rgba(0,255,0,.5), rgba(0,255,0,0) 70.71%),
    linear-gradient(0deg, rgba(64,125,164,.4), rgba(0,0,255,0) 70.71%);
  }
  .display-4 {
    font-size: 4.5rem;
    color: white;
    font-weight: normal;
  }
  .lead {
    color: #fafcff;
    font-weight: 300;
    line-height: 2.2em;
  }
  .card-body{
    text-align: center;
  }
  .figure img{
  height: 20em;
  width: 100%;
  margin-top: 2em;
  }
  .row{
    /* background-color: cornsilk; */
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 10%);
  }
  .col-md-12 {
  padding-top: 2em;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: stretch;
  }
  .text{
    margin-bottom: 1em;
    width: 83%;
    text-align: justify;
  }
  @media only screen and (max-width: 500px) {
    .container{
      max-width: 100%;
    }
    .row{
      /* background-color: cornsilk; */
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      border-radius: 3px;
      box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 10%);
    }
    .figure img{
      height: 12em;
      width: 100%;
      }
      .text{
        /* margin-left: 1em; */
        width: 100%;
        text-align: justify;
      }
  }
  @media  (max-width: 820px)and (min-width: 500px) {
    .container{
      max-width: 100%;
    }
    .row{
      /* background-color: cornsilk; */
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      border-radius: 3px;
      box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 10%);
    }
    .figure img{
      height: 20em;
      width: 100%;
      }
      .text{
        /* margin-left: 1em; */
        width: 83%;
        text-align: justify;
      }
  }
