<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About</h1>
    <p class="lead">Modebe Memorial Secondary School Onitsha.</p>
  </div>
</div>
<div class="container row">

  <div class="col-md-12">
 <figure class="figure">
    <img src="../../assets/images/aboutimg.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption">Peter Obi Block</figcaption>
  </figure>
  <div class="text">
      Modebe memorial secondary school onitsha was established on 1800.................
      This is the profile page of Modebe Memorial Secondary School. This page contains the
      email,contact phone number,address,website and other contact information of Modebe
       Memorial Secondary School.Modebe Memorial Secondary School is categorized under
       Government Secondary Schools,Schools,Secondary Schools, .
  </div>
  </div>
</div>
