<div class="container">
  <div class="row mt-4">
    <p class="h4">{{members.userName}}'s Profile</p>
  </div>
  <div class="row mt-2">
    <div class="col-md-4">
      <div class="card">
        <img src="{{members.photoUrl? members.photoUrl:'../../../../../assets/images/graduateImg.jpg'}}" alt="{{members.knwonAs}}" style="width:100%">
       <div class="text-justify">
          <!-- location -->
          <div>
            <strong class="card-text">Location :</strong>
            <p class="card-text title">{{members.city}},{{members.country}}</p>
          </div>
          <!-- Age -->
          <div>
            <strong class="card-text">Age :</strong>
            <p class="card-text title">{{members.age}}</p>
          </div>
          <!-- LastActive -->
          <div>
            <strong class="card-text">Last Active :</strong>
            <p class="card-text title">{{members.lastActive|timeAgo}}</p>
          </div>
          <!-- Created -->
          <div>
            <strong class="card-text">Member Since :</strong>
            <p class="card-text title">{{members.created | date: "mediumDate"}}</p>
          </div>
       </div>
          <div class="icons">
            <button mat-raised-button
        matTooltip="Message user">
        <i class="fa fa-envelope"></i>
            </button>
            <button mat-raised-button
            matTooltip="Like user">
            <i class="fa fa-heart"></i>
                </button>
        </div>
        <div class="button-container">

          <div class="button-flipper">
             <button class="front-button"><i class="fa fa-phone"></i></button>
             <button class="back-button">{{members.phoneNumber}}</button>
          </div>

       </div>
      </div>
    </div>
    <div class="col-md-7">
      <p class="h4">About {{members.knownAs}}</p>
      <mat-tab-group>
        <mat-tab label="Description"> {{members.introduction}} </mat-tab>
        <mat-tab label="Interests">{{members.interests}}</mat-tab>
        <mat-tab label="Photos">
          <div>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          </div>

        </mat-tab>
        <mat-tab label="Messages">message here</mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
