<div class="">
  <div class="container-fluid">
    <img src="../../../assets/images/imgLog.jpg" alt="ModebeLoginImage" >
    <div class="logDescription text-center">
      <p>Welcome Members</p>
      <h1 class="display-3">Log Into Your Account</h1>
    </div>
  </div>
</div>

<div class="container" *ngIf="!registerMode">

  <form #form="ngForm" class=" form-group panel panel-default" (submit)="Login()">
    <h4 class=" mb-4">Member Login</h4>
    <!-- Email input -->
    <div class="form-outline  mb-4" [formGroup]="logForm">
      <input type="email" id="form2Example1" class="form-control" name="email" [(ngModel)]="model.email"  placeholder="Email Address" formControlName="email"  (error)="true" />
      <span class="text-danger"
      *ngIf="(logFormControl['email'].touched || submitted) && logFormControl['email'].errors?.['required']"> Email is Required.</span>
      <span class="text-danger"
      *ngIf="(logFormControl['email'].touched || submitted) && logFormControl['email'].errors?.['email']"> Enter a valid Email.</span>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4" [formGroup]="logForm">
      <input type="password" [type]="showpassword? 'text':'password'" name="password" [(ngModel)]="model.password" id="form2Example2" class="form-control" placeholder="Password" formControlName="password" (error)="true"/>
      <span class="text-danger help-block"
    *ngIf="(logFormControl['password'].touched || submitted) && logFormControl['password'].errors?.['required']"> Password is Required.</span>
    <span class="text-danger help-block"
    *ngIf="(logFormControl['password'].touched) && logFormControl['password'].errors?.['minlength']"> Password is Required Atleast 4 characters.</span>
    <span class="text-danger help-block"
    *ngIf="(logFormControl['password'].touched) && logFormControl['password'].errors?.['invalidPassword']"> Password should have 8 characters, 1 uppercase,1 lowercase,1 number and 1 special character.</span>
    </div>
    <button type="button" class="btn btn-primary passwordbtn" (click)="showHidePassword()"> {{showpassword? 'Hide':'Show'}} Password</button>
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
          <label class="form-check-label" for="form2Example34"> Remember me </label>
        </div>
      </div>

      <div class="col">
        <!-- Simple link -->
        <a href="#!"[routerLink]="['/forget-password']" >Forgot password?</a>
      </div>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!logForm.valid">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p class="notmember">Not a member? <a [routerLink]="['/register']" (click)="registerToggle()" >Register</a></p>
      <!-- <p style="color:black ;">or sign up with:</p>
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-facebook-f"></i>
      </button>

      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-google"></i>
      </button>

      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-twitter"></i>
      </button>

      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-github"></i>
      </button> -->
    </div>
  </form>
</div>
<div class="container" *ngIf="registerMode">

</div>
