<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Junior Secondary School Admission</h1>
</div>
</div>
<div class="container contMain">
  <h4 class="ml-4">Admission Process</h4>
  <img src="../../../../assets/images/junior-sec.jpg" alt="junior-section">
  <div class="row info">
    <div class="col-md-5">
      <div class="strong">
        <strong>“As a parent, selecting a school for your child is one of the most essential and difficult decisions you will ever have to make for your child.
        It is our responsibility to make things as simple as possible for you”</strong>
      </div>

        <p class="mt-3">
         The first phase of the secondary education, which lasts for three years,
          is provided at the Junior Secondary Schools (JSS). At the end of these
           three years, students sit for Junior Secondary School Examination (JSSE)
            and the successful ones are awarded the Junior Secondary School Certificate
            (JSSC). <br>
             A successful completion of the JSS is a prerequisite for the second phase
              - the Senior Secondary School (SSS), which also lasts for three years.
              At the end of this period, students obtain the Senior Secondary School
              Certificate (SSSC) after writing and passing the final examination,
              which is the Senior Secondary School Examination. The SSSC is
              equivalent to the former West African School Certificate
              (WASC). As is the case at the primary school level, brilliant
               students who wish to skip a class may be allowed to do so after
               due consultations with their parents/guardians and their
                respective school authorities.
        </p>
    </div>
    <div class="col-md-4">
      <p>
        Please call the following numbers for up-to-date information:
        +234 800 000 0000 , +234 800 000 0000 or send an e-mail to  modebememorialsecondary school@gmail.com
         or admingmail@.com
      </p>
    </div>

  </div>
</div>
