<div class="container">
  <form action="" [formGroup]="resetForm" (submit)="resetPassword()">
<mat-card>
  <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container">
      <!-- try and if statement to show error message -->
      <div  class="alert alert-success" role="alert">
        Your password has been reset. Please <a [routerLink]="['/login']"> click here to log in. </a>
    </div>
    <div class="form-group" [formGroup]="resetForm" >
      <mat-form-field class="full-width">
    <input formControlName="password"  matInput placeholder="Password" [type]="showPassword? 'text':'password'" name="password"  required >
    <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
    <mat-error  *ngIf="(resetFormControl['password'].touched) && resetFormControl['password'].errors?.['required']">
      Password is Required.
    </mat-error>
    <mat-error  *ngIf="(resetFormControl['password'].touched) && resetFormControl['password'].errors?.['minlength']">
      Password is Required Atleast 4 characters.
    </mat-error>
    <mat-error *ngIf="(resetFormControl['password'].touched) && resetFormControl['password'].errors?.['invalidPassword']">
      Password should have 8 characters, 1 uppercase,1 lowercase,1 number and 1 special character.
    </mat-error>
    </mat-form-field>
    </div>
      <div class="form-group" [formGroup]="resetForm" >
        <mat-form-field class="full-width">
      <input matInput placeholder="Confirm Password" [type]="showPassword? 'text':'password'" name="password"  required (input)="onPasswordInput()" formControlName="confirmPassword">
      <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword?'visibility_off':'visibility'}}</mat-icon>
      <mat-error  *ngIf="(resetFormControl['confirmPassword'].touched) && resetFormControl['confirmPassword'].errors?.['required']">
        Confirm Password is Required.
      </mat-error>
      <mat-error *ngIf="(resetFormControl['confirmPassword'].touched ) && !resetFormControl['confirmPassword'].errors?.['required']">
        Confirm Password Must Match.
      </mat-error>
      </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="btn-success text-light" [disabled]="!resetForm.valid">Submit</button>
    </mat-card-actions>
</mat-card>
  </form>
</div>
