<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Senior Secondary School Admission</h1>
</div>
</div>
<div class="container contMain">
  <h4 class="">Admission Process</h4>
  <img src="../../../../assets/images/senior-sec.jpg" alt="senior-section">
  <div class="row info">
    <div class="col-md-12">
      <div class="strong">
        <strong>“Dear parent, we thank you for believing in us for being the mentor to your child
           and extend my appreciation for your belief and trust in us. We hope We have stood by your expectations.”</strong>
      </div>

        <p class="mt-3">
          At the secondary school level, there are also the technical secondary
          schools and commercial secondary schools which also offer courses lasting
          up to six years. Both academic and specia- lised subjects are taught here.
          There is also the vocational education offered at technical colleges.
          Students who want to acquire specialised skills at the end of their
          studies may choose to attend the technical/commercial schools.
          Mostly due to financial contraints, however, a lot of poor children
          are forced to pursue their education at private business centres
          and commercial schools, which offer low quality education and are
          far from being government approved.
        </p>
    </div>
    <div class="col-md-8">
      <p>
        Please call the following numbers for up-to-date information:
        +234 800 000 0000 , +234 800 000 0000 or send an e-mail to  modebememorialsecondary school@gmail.com
         or admingmail@.com
      </p>
    </div>

  </div>
</div>
