<div class="container-fluid">
  <img src="../../../assets/images/Educational-Image.jpg" class="img-fluid " alt="Educational-Image">
</div>
<div class="container">
  <hr>
  <h2>School Educational Policy</h2>
  <div class="row">
    <div class="col-md-5">
          <p class="mt-2">
              The National Policy on Education, as approved by the Federal Ministry of Education for use by all secondary schools in Nigeria, is implemented in Modebe Memorial Secondary School.<br>
  As a method of overcoming historical flaws, MMSS’s educational policy emphasizes excellence in education, skill development, and moral training in the school system.<br>
  This strategy emphasizes the need of paying attention to weak pupils, as well as their command of the English language Mathematics, and other related subjects in order to help them pass
   their examinations either for study abroad or at Nigerian tertiary institutions, <br>
  Our Students build a balanced and strong character as a result of our teaching, and evaluation methods, which helps to motivate them to work hard and smarter. in order to achieve their set goals in life.<br>
          </p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/images/policy-img.jpg"  class="rounded  d-block" alt="policy-image">
    </div>
  </div>
</div>
