<div class="container-fluid">
  <img src="../../../assets/images/calendar.jpg" class="img-fluid" alt="calendar">
</div>
<div class="container">
  <h2>2022/2023 Academic Calendar Update.....</h2>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>1<sup>st</sup> Term Academic Calendar</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <a href="">Click download link to access school academic calendar. </a>
</div>
