<div class="container-fluid">
  <img src="../../../assets/images/pupils.png" class="img-fluid" alt="modebe pupils">
</div>
<div class="container">
  <h2>Our Mission Statement</h2>
  <h6 >&ldquo; to develop total personality of the child through Christian virtues <br>
     and values  to excel in the global society &ldquo;</h6>
     <hr style="height:2px;border-width:0;color:black;background-color:black">
     <div class="row">
      <div class="col-md-4 core-value">
        <h2>Our Core Values</h2>
        <p>Our five core values which every  member of the MMSS community must embrace are :</p>
        <ul>
          <li>Self Discipline,</li>
          <li>Tolerance,</li>
          <li>Love,</li>
          <li>Fairness,</li>
          <li>Impartiality in Moral Judgement</li>
        </ul>
      </div>
      <div class="col-md-4 studentImg">
        <img src="../../../assets/images/studentFemle.png" class="img-fluid" alt="modebe student">
      </div>
     </div>
     <hr style="height:2px;border-width:0;color:black;background-color:black">
     <h2>Our Vision</h2>
     <h6 >&ldquo; MMSS’s vision is entrenched in Qualitative Education and Good Character&ldquo;</h6>

</div>
