<div class="container-fluid">
  <img src="../../../assets/images/flower.jpg" class="img-fluid" alt="modebe pupils">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 ">
      <h2>Principal's Welcome</h2>
      <img src="../../../assets/images/principal.png" class="img-fluid studentImg" alt="modebe student">
    </div>
    <div class="col-md-8 ">
      <p>
        On October 9th, 2014, MMSS’s Ogun State campus welcomed its first 17 students for the 2014/15 academic year. It is with great pride that we can announce that our student population has grown significantly and now stands at more than one twenty students. Over 600 intakes may now be accommodated at our facility thanks to recent renovations.<br>
We at MMSS help our students reach their full potential in and out of the classroom. We want to cultivate a warm, welcoming, and inclusive environment in which each student can realize his or her full potential and learn the values and standards of the school’s vision and goal. For all pupils, the goal is to develop an understanding of themselves and their place in the world.<br>
My thanks and admiration go out to all of my instructors and support staff members for their dedication and passion. For the benefit of our children, we have a robust pastoral care system that places an emphasis on direct and honest connection with their parents. Keeping in mind that our children come first and foremost to us as parents, we maintain an open line of contact in the
event that someone has to reach out to us right away. As a result, we strive tirelessly to ensure that our school is a safe and pleasant place for all of our students. This is critical, as a contented student is one that does their best work and achieves their goals.<br>
Parents, I want to thank you for entrusting us with your most prized possessions – your kids. Our goal in educating and grooming them is to keep striving for excellence. We implore all would-be parents to follow in the footsteps of those who have put their faith in our
unmatched and ever-growing abilities to raise their children.<br>
      </p>
      <h6  style="font-weight:600; font-family: Georgia, 'Times New Roman', Times, serif;"><em>principal name here.</em></h6>
    </div>
  </div>
</div>
