  <div class="container-fluid">
    <carousel>
      <slide>
        <img src="../../assets/images/assemblyImg.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>STUDENTS AT ASSEMBLY GROUND</h3>
          <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
        </div>
      </slide>
      <slide>
        <img src="../../assets/images/imgHome.jpg" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>WELCOME TO MODEBE MEMORIAL SECONDARY SCHOOL</h3>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        </div>
      </slide>
      <slide>
        <img src="../../assets/images/imgLog.jpg" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>STAFF CONFERENCE ROOM</h3>
          <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
        </div>
      </slide>
    </carousel>
  </div>
  <!-- firstSection -->
  <div class="row">
    <div class="col-md-3 firstSection">
      <h3>WELCOME TO</h3>
      <h4>MODEBE MEMORIAL SECONDARY SCHOOL</h4>
    </div>
    <div class="col-md-9 col9">
      <div class="row main-academic">
        <div class="col-md-4">
          <div class="academic">
            <fa-icon [icon]="book"></fa-icon>
            <h5>ACADEMIC ACTIVITIES</h5>
          </div>
  <p>Modebe Memorial Secondary School
    is made up of the Junior
    and Secondary Schools as well
    as its leadership programmes.</p>
        </div>
        <div class="col-md-4">
          <div class="academic">
            <fa-icon [icon]="search"></fa-icon>
            <h5>SCHOOL LIFE</h5>
          </div>
          <p>Our students are involved in
             a wide range of extracurricular
              activities without compromising their
               exceptional academic performance.</p>
        </div>
        <div class="col-md-4">
          <div class="academic">
            <fa-icon [icon]="people"></fa-icon>
            <h5>LEADERSHIP TRAINING</h5>
          </div>
          <p>We provide an extensive array of leadership
             opportunities including involvement in
              community services for all students.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- secondSection -->
<div class="row main-row">
  <div class="col-md-3 secondSection">
    <h6>Study At Modebe</h6>
 <ul>
  <li>Junior Secondary</li>
  <li>Senior Secondary</li>
  <li>Scholarship</li>
  <li>Religious Activities</li>
  <li>Extracurricular Activities</li>
  <li>Leadership Programmes</li>
 </ul>
  </div>
  <div class="col-md-9 lagacy">
    <div class="row">
      <div class="col-md-4">
        <img src="../../assets/images/lagacy.jpg"  class="rounded  d-block" alt="policy-image">
      </div>
      <div class="col-md-7 message">
        <h2>Our Legacy <fa-icon [icon]="arrow"></fa-icon></h2>
        <p>
          One of the most remarkable things about Modebe Memorial Secondary
          school is the warm welcome, in addition to the quality of the
           relationship between her students and staff, which enables the
           students to learn the value of respect, kindness, tolerance,
            fairness, impartiality in judgment, and service to others. <br>
            Our team of dedicated teachers is committed to more than just
            helping our students achieve their academic potential; they
            are also passionate about students’ character development
             growth into becoming confident and accomplished adults. <br>
             There is something mind-blowing about MODEBDE that can
              only be experienced firsthand. I look forward to
              meeting you and introducing you to it.
        </p>
        <h6>put Vp Name</h6>
      </div>
    </div>
  </div>
</div>
<!-- preparedYourChild -->
<div class="row prepared">
  <h1>Academy Prepares</h1>
  <p>How are we preparing your student for college and life?</p>
</div>
<div class="row details">
  <!-- firstDiv -->
  <div class="col-md-3 details-col">
          <fa-icon [icon]="user"></fa-icon>
          <h5>Tomorrow's Leaders</h5>
          <p>Through Academics, athletics, community
             service, outdoor education and
              extracurricular activities,
              Chargers have ample opportunities
               to become leaders.</p>
  </div>
  <!-- secondDiv -->
  <div class="col-md-3 details-col">
    <fa-icon [icon]="earth"></fa-icon>
    <h5>Making a Difference</h5>
    <p>Academy students in every
      grade participate in Community
      Service. In 2019-20, Chargers in
      grades 6-12 logged more than 22,000
      hours of community service.</p>
  </div>
  <!-- thirdDiv -->
  <div class="col-md-3 details-col">
    <fa-icon [icon]="hand"></fa-icon>
    <h5>Strong Bonds that Last</h5>
    <p>During their time at Academy,
      students build extraordinary
       relationships with classmates and
        faculty members – relationships
         that last a lifetime.</p>
  </div>
  <!-- fouthDiv -->
  <div class="col-md-3 details-col">
    <fa-icon [icon]="africa"></fa-icon>
    <h5>Nationally Ranked</h5>
    <p>In 2019, 13 Academy juniors were
       named National Merit Scholarship
        Semifinalists.</p>
  </div>
</div>
<!-- covid-19 -->
<div class="row covid">
<div class="col-md-5">
  <img src="../../assets/images/face-mask.jpg"  class="round  d-block" alt="policy-image">
</div>
<div class="col-md-6 covidText">
 <h2>OUR COVID-19 PROTOCOLS</h2>
<p>To avoid the spread of COVID-19, our educational environment
   has been extensively fumigated by government-certified fumigators.
   Staff and learners have received adequate training to ensure they are
   aware of the attitudes and cultures required during this particular period.</p>
</div>
</div>
<!-- button -->
<div class="head">
  <h4 class="text-white">Info And News</h4>
  <div class="newButton">
    <a  [routerLink]="['/latest-news']" class="btn" >School News</a>
    <a href="" class="btn"[routerLink]="['/not-found']" >News Letter</a>
    <a href="" class="btn"[routerLink]="['/not-found']" >Modebe Magazine</a>
    <a href="" class="btn" [routerLink]="['/not-found']" >Alumni Magazine</a>
  </div>

</div>
